In [63]:
import pandas as pd
# http://pandas.pydata.org/

In [64]:
df = pd.read_excel("instLevel.xlsx"/Title-IX-Working-Folder, sheetname=0)
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html

In [65]:
df.head()

,unitid,institution_name,addr1_txt,addr2_txt,city_txt,state_cd,zip_text,ClassificationCode,classification_name,ClassificationOther,...,IL_TOTAL_EXP_COED,IL_EXPENSE_MENALL,IL_EXPENSE_WOMENALL,IL_TOTAL_EXPENSE_ALL,UNDUP_CT_PARTIC_MEN,UNDUP_CT_PARTIC_WOMEN,TOT_REVENUE_ALL_NOTALLOC,TOT_EXPENSE_ALL_NOTALLOC,GRND_TOTAL_REVENUE,GRND_TOTAL_EXPENSE
0,100654,Alabama A & M University,4900 Meridian Street,NaN,Normal,AL,35762,2,NCAA Division I-AA,NaN,...,NaN,787579,1670511,2458090,171,95,393846,2316908,8500722,8500722
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,NaN,Birmingham,AL,352940110,1,NCAA Division I-A,NaN,...,NaN,2754158,4819452,7573610,214,157,9282265,9178468,31018623,30381988
2,100706,University of Alabama in Huntsville,301 Sparkman Dr,NaN,Huntsville,AL,35899,5,NCAA Division II (without football),NaN,...,NaN,2583296,1704782,4288078,152,120,1347289,1347289,6524240,6524240
3,100724,Alabama State University,915 S Jackson Street,NaN,Montgomery,AL,361040271,2,NCAA Division I-AA,NaN,...,NaN,1503677,2572564,4076241,190,127,3986033,3986033,12694305,12694305
4,100751,The University of Alabama,739 University Blvd,NaN,Tuscaloosa,AL,354870166,1,NCAA Division I-A,NaN,...,NaN,7313029,14075941,21388970,300,282,31944983,42601780,152588651,115390076

In [66]:
list(df.columns.values)

['unitid',
 'institution_name',
 'addr1_txt',
 'addr2_txt',
 'city_txt',
 'state_cd',
 'zip_text',
 'ClassificationCode',
 'classification_name',
 'ClassificationOther',
 'EFMaleCount',
 'EFFemaleCount',
 'EFTotalCount',
 'sector_cd',
 'sector_name',
 'STUDENTAID_MEN',
 'STUDENTAID_WOMEN',
 'STUDENTAID_COED',
 'STUDENTAID_TOTAL',
 'STUAID_MEN_RATIO',
 'STUAID_WOMEN_RATIO',
 'STUAID_COED_RATIO',
 'RECRUITEXP_MEN',
 'RECRUITEXP_WOMEN',
 'RECRUITEXP_COED',
 'RECRUITEXP_TOTAL',
 'HDCOACH_SALARY_MEN',
 'HDCOACH_SALARY_WOMEN',
 'HDCOACH_SALARY_COED',
 'NUM_HDCOACH_MEN',
 'NUM_HDCOACH_WOMEN',
 'NUM_HDCOACH_COED',
 'HDCOACH_SAL_FTE_MEN',
 'HDCOACH_SAL_FTE_WOMN',
 'HDCOACH_SAL_FTE_COED',
 'FTE_HDCOACH_MEN',
 'FTE_HDCOACH_WOMEN',
 'FTE_HDCOACH_COED',
 'ASCOACH_SALARY_MEN',
 'ASCOACH_SALARY_WOMEN',
 'ASCOACH_SALARY_COED',
 'NUM_ASCOACH_MEN',
 'NUM_ASCOACH_WOMEN',
 'NUM_ASCOACH_COED',
 'ASCOACH_SAL_FTE_MEN',
 'ASCOACH_SAL_FTE_WOMN',
 'ASCOACH_SAL_FTE_COED',
 'FTE_ASCOACH_MEN',
 'FTE_ASCOACH_WOMEN',
 'FTE_ASCOACH_COED',
 'IL_PARTIC_MEN',
 'IL_PARTIC_WOMEN',
 'IL_PARTIC_COED_MEN',
 'IL_PARTIC_COED_WOMEN',
 'IL_SUM_PARTIC_MEN',
 'IL_SUM_PARTIC_WOMEN',
 'IL_OPEXPPERPART_MEN',
 'IL_OPEXPPERTEAM_MEN',
 'IL_OPEXPPERPART_WOMEN',
 'IL_OPEXPPERTEAM_WOMEN',
 'IL_TOTAL_OPEXP_MENWOMEN',
 'IL_OPEXPPERPART_COED_MEN',
 'IL_OPEXPPERTEAM_COED_MEN',
 'IL_OPEXP_PART_COED_WOMEN',
 'IL_OPEXP_TEAM_COED_WOMEN',
 'IL_TOTAL_OPEXP_COEDTEAM',
 'IL_SUM_OPEXPPERPART_MEN',
 'IL_SUM_OPEXPPERTEAM_MEN',
 'IL_SUM_OPEXPPERPART_WOMEN',
 'IL_SUM_OPEXPPERTEAM_WOMEN',
 'IL_TOTAL_OPEXP_INCLCOED',
 'IL_MEN_FTHEADCOACH_MALE',
 'IL_MEN_PTHEADCOACH_MALE',
 'IL_MEN_FTUNIVEMPLOY_MALE',
 'IL_MEN_PTUNIVEMPLOY_MALE',
 'IL_MEN_FTHEADCOACH_FEM',
 'IL_MEN_PTHEADCOACH_FEM',
 'IL_MEN_FTUNIVEMPLOY_FEM',
 'IL_MEN_PTUNIVEMPLOY_FEM',
 'IL_MEN_TOTAL_HEADCOACH',
 'IL_WOMEN_FTHDCOACH_MALE',
 'IL_WOMEN_PTHDCOACH_MALE',
 'IL_WOMEN_FTUNIVEMP_MALE',
 'IL_WOMEN_PTUNIVEMP_MALE',
 'IL_WOMEN_FTHDCOACH_FEM',
 'IL_WOMEN_PTHDCOACH_FEM',
 'IL_WOMEN_FTUNIVEMP_FEM',
 'IL_WOMEN_PTUNIVEMP_FEM',
 'IL_WOMEN_TOTAL_HDCOACH',
 'IL_COED_FTHDCOACH_MALE',
 'IL_COED_PTHDCOACH_MALE',
 'IL_COED_FTUNIVEMP_MALE',
 'IL_COED_PTUNIVEMP_MALE',
 'IL_COED_FTHDCOACH_FEM',
 'IL_COED_PTHDCOACH_FEM',
 'IL_COED_FTUNIVEMP_FEM',
 'IL_COED_PTUNIVEMP_FEM',
 'IL_COED_TOTAL_HDCOACH',
 'IL_SUM_FTHDCOACH_MALE',
 'IL_SUM_PTHDCOACH_MALE',
 'IL_SUM_FTUNIVEMP_MALE',
 'IL_SUM_PTUNIVEMP_MALE',
 'IL_SUM_FTHDCOACH_FEM',
 'IL_SUM_PTHDCOACH_FEM',
 'IL_SUM_FTUNIVEMP_FEM',
 'IL_SUM_PTUNIVEMP_FEM',
 'IL_SUM_TOTAL_HDCOACH',
 'IL_MEN_FTASCOACH_MALE',
 'IL_MEN_PTASCOACH_MALE',
 'IL_MEN_FTACUNIVEMP_MALE',
 'IL_MEN_PTACUNIVEMP_MALE',
 'IL_MEN_FTASSTCOACH_FEM',
 'IL_MEN_PTASSTCOACH_FEM',
 'IL_MEN_FTACUNIVEMP_FEM',
 'IL_MEN_PTACUNIVEMP_FEM',
 'IL_MEN_TOTAL_ASSTCOACH',
 'IL_WOMEN_FTASCOACH_MALE',
 'IL_WOMEN_PTASCOACH_MALE',
 'IL_WOMEN_FTACUNEMP_MALE',
 'IL_WOMEN_PTACUNEMP_MALE',
 'IL_WOMEN_FTASTCOACH_FEM',
 'IL_WOMEN_PTASTCOACH_FEM',
 'IL_WOMN_FTACUNIVEMP_FEM',
 'IL_WOMN_PTACUNIVEMP_FEM',
 'IL_WOMEN_TOTAL_ASTCOACH',
 'IL_COED_FTASCOACH_MALE',
 'IL_COED_PTASCOACH_MALE',
 'IL_COED_FTACUNEMP_MALE',
 'IL_COED_PTACUNEMP_MALE',
 'IL_COED_FTASTCOACH_FEM',
 'IL_COED_PTASTCOACH_FEM',
 'IL_COED_FTACUNIVEMP_FEM',
 'IL_COED_PTACUNIVEMP_FEM',
 'IL_COED_TOTAL_ASTCOACH',
 'IL_SUM_FTASCOACH_MALE',
 'IL_SUM_PTASCOACH_MALE',
 'IL_SUM_FTACUNIVEMP_MALE',
 'IL_SUM_PTACUNIVEMP_MALE',
 'IL_SUM_FTASCOACH_FEM',
 'IL_SUM_PTASCOACH_FEM',
 'IL_SUM_FTACUNIVEMP_FEM',
 'IL_SUM_PTACUNIVEMP_FEM',
 'IL_SUM_TOTAL_ASSTCOACH',
 'IL_REV_MEN',
 'IL_REV_WOMEN',
 'IL_TOTAL_REV_MENWOMEN',
 'IL_REV_COED_MEN',
 'IL_REV_COED_WOMEN',
 'IL_TOTAL_REV_COED',
 'IL_REVENUE_MENALL',
 'IL_REVENUE_WOMENALL',
 'IL_TOTAL_REVENUE_ALL',
 'IL_EXP_MEN',
 'IL_EXP_WOMEN',
 'IL_TOTAL_EXP_MENWOMEN',
 'IL_EXP_COED_MEN',
 'IL_EXP_COED_WOMEN',
 'IL_TOTAL_EXP_COED',
 'IL_EXPENSE_MENALL',
 'IL_EXPENSE_WOMENALL',
 'IL_TOTAL_EXPENSE_ALL',
 'UNDUP_CT_PARTIC_MEN',
 'UNDUP_CT_PARTIC_WOMEN',
 'TOT_REVENUE_ALL_NOTALLOC',
 'TOT_EXPENSE_ALL_NOTALLOC',
 'GRND_TOTAL_REVENUE',
 'GRND_TOTAL_EXPENSE']

In [67]:
df.drop(df.columns[38:], inplace=True, axis=1)
df.drop(df.columns[15:28], inplace=True, axis=1)
df.drop(df.columns[2:4], inplace=True, axis=1)

In [68]:
ma_df = df[(df["state_cd"] == "MA")]
print(ma_df.shape)
ma_df.head()

(64, 23)

,unitid,institution_name,city_txt,state_cd,zip_text,ClassificationCode,classification_name,ClassificationOther,EFMaleCount,EFFemaleCount,...,HDCOACH_SALARY_COED,NUM_HDCOACH_MEN,NUM_HDCOACH_WOMEN,NUM_HDCOACH_COED,HDCOACH_SAL_FTE_MEN,HDCOACH_SAL_FTE_WOMN,HDCOACH_SAL_FTE_COED,FTE_HDCOACH_MEN,FTE_HDCOACH_WOMEN,FTE_HDCOACH_COED
768,164447,American International College,Springfield,MA,1109,4,NCAA Division II (with football),NaN,604,793,...,NaN,10,8,NaN,50587,42199,NaN,7.43,6.40,NaN
769,164465,Amherst College,Amherst,MA,10025000,6,NCAA Division III (with football),NaN,900,885,...,NaN,11,12,NaN,96581,86273,NaN,8.25,10.75,NaN
770,164492,Anna Maria College,Paxton,MA,16121198,6,NCAA Division III (with football),NaN,360,485,...,NaN,9,8,NaN,76806,83805,NaN,2.12,1.64,NaN
771,164562,Assumption College,Worcester,MA,16091296,4,NCAA Division II (with football),NaN,801,1215,...,NaN,11,12,NaN,50514,50032,NaN,4.99,4.99,NaN
772,164580,Babson College,Wellesley,MA,24570310,7,NCAA Division III (without football),NaN,1151,955,...,NaN,10,10,NaN,85962,81199,NaN,4.75,4.98,NaN

In [69]:
ma_df.to_csv("MA_head_coach_salaries.csv")